
examples/example00-hibernate-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example00-hibernate-1/pom.properties
examples/example01-entitymapping-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example01-entitymapping-1/pom.properties
examples/example02-persistence-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example02-persistence-1/pom.properties
examples/example02-persistence/target/classes/META-INF/maven/edu.mum.cs.cs544/example02-persistence/pom.properties
examples/example03-associations-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example03-associations-1/pom.properties
examples/example03-associations-2/target/classes/META-INF/maven/edu.mum.cs.cs544/example03-associations-2/pom.properties
examples/example03-associations-3/target/classes/META-INF/maven/edu.mum.cs.cs544/example03-associations-3/pom.properties
examples/example03-associations-4/target/classes/META-INF/maven/edu.mum.cs.cs544/example03-associations-4/pom.properties
examples/example03-associations-5/target/classes/META-INF/maven/edu.mum.cs.cs544/example03-associations-5/pom.properties
examples/example03-associations-6/target/classes/META-INF/maven/edu.mum.cs.cs544/example03-associations-6/pom.properties
examples/example05-inheritance-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example05-inheritance-1/pom.properties
examples/example05-inheritance-2/target/classes/META-INF/maven/edu.mum.cs.cs544/example05-inheritance-2/pom.properties
examples/example05-inheritance-3/target/classes/META-INF/maven/edu.mum.cs.cs544/example05-inheritance-3/pom.properties
examples/example07-hql-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example07-hql-1/pom.properties
examples/example07-hql-2/target/classes/META-INF/maven/edu.mum.cs.cs544/example07-hql-2/pom.properties
examples/example07-hql-3/target/classes/META-INF/maven/edu.mum.cs.cs544/example07-hql-3/pom.properties
examples/example07-hql-4/target/classes/META-INF/maven/edu.mum.cs.cs544/example07-hql-4/pom.properties
examples/example07-hql-5/target/classes/META-INF/maven/edu.mum.cs.cs544/example07-hql-5/pom.properties
examples/example10-spring-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example10-spring-1/pom.properties
examples/example10-spring-2/target/classes/META-INF/maven/edu.mum.cs.cs544/example10-spring-2/pom.properties
examples/example10-spring-3/target/classes/META-INF/maven/edu.mum.cs.cs544/example10-spring-3/pom.properties
examples/example11-di-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example11-di-1/pom.properties
examples/example11-di-2/target/classes/META-INF/maven/edu.mum.cs.cs544/example11-di-2/pom.properties
examples/example11-di-3/target/classes/META-INF/maven/edu.mum.cs.cs544/example11-di-3/pom.properties
examples/example11-di-4/target/classes/META-INF/maven/edu.mum.cs.cs544/example11-di-4/pom.properties
examples/example11-di-5/target/classes/META-INF/maven/edu.mum.cs.cs544/example11-di-5/pom.properties
examples/example13-aop-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example13-aop-1/pom.properties
examples/example13-aop-2/target/classes/META-INF/maven/edu.mum.cs.cs544/example13-aop-2/pom.properties
examples/example13-aop-3/target/classes/META-INF/maven/edu.mum.cs.cs544/example13-aop-3/pom.properties
examples/example13-aop-4/target/classes/META-INF/maven/edu.mum.cs.cs544/example13-aop-4/pom.properties
examples/example14-spring-tx-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example14-spring-tx-1/pom.properties
examples/example15-async-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example15-async-1/pom.properties
examples/example15-scheduling-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example15-scheduling-1/pom.properties
examples/example15-scheduling-2/target/classes/META-INF/maven/edu.mum.cs.cs544/example15-scheduling-2/pom.properties
examples/example15-scheduling-3/target/classes/META-INF/maven/edu.mum.cs.cs544/example15-scheduling-3/pom.properties
examples/example15-scheduling-4/target/classes/META-INF/maven/edu.mum.cs.cs544/example15-scheduling-4/pom.properties
examples/example16-hibernate-intgration-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example16-hibernate-integration-1/pom.properties
examples/example17-springhibernate-1/target/classes/META-INF/maven/edu.mum.cs.cs544/example17-springhibernate-1/pom.properties
examples/example19-springmvc-1/target/m2e-wtp/web-resources/META-INF/maven/edu.mum.cs.cs544.examples/example19-springmvc-1/pom.properties
examples/example19-springmvc-2/target/m2e-wtp/web-resources/META-INF/maven/edu.mum.cs.cs544.examples/example19-springmvc-2/pom.properties
examples/example19-springmvc-3/target/m2e-wtp/web-resources/META-INF/maven/edu.mum.cs.cs544.examples/example19-springmvc-3/pom.properties
examples/example20-servlet-1/target/m2e-wtp/web-resources/META-INF/maven/edu.mum.cs.cs544.examples/example20-servlet-1/pom.properties
examples/example21-springsecurity-1/target/m2e-wtp/web-resources/META-INF/maven/edu.mum.cs.cs544/example21-springsecurity-1/pom.properties
examples/example22-springvalildation-1/target/m2e-wtp/web-resources/META-INF/maven/edu.mum.cs.cs544.examples/example22-springvalidation-1/pom.properties
examples/example23-rmi-2/target/classes/META-INF/maven/edu.mum.cs.cs544/example23-rmi-2/pom.properties
examples/example24-jms-receiver-1/target/classes/META-INF/maven/cs544/example24-jms-receiver-1/pom.properties
examples/example24-jms-sender-1/target/classes/META-INF/maven/cs544/example24-jms-sender-1/pom.properties
examples/example25-restdemo-1/target/m2e-wtp/web-resources/META-INF/maven/org.springframework.samples.service.service/example25-restdemo-1/pom.properties
exercises/exercise00_1/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise00_1/pom.properties
exercises/exercise16_2/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise16_2/pom.properties
exercises/exercise19.1/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise19.1/pom.properties
exercises/exercise25_1-service/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise25_1-service/pom.properties
exercises/exercise25_2-service/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise25_2-service/pom.properties
exercises/exercise00_1/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise00_1/pom.properties
exercises/exercise16_2/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise16_2/pom.properties
exercises/exercise19.1/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise19.1/pom.properties
exercises/exercise25_1-service/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise25_1-service/pom.properties
exercises/exercise25_2-service/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise25_2-service/pom.properties
exercises/exercise00_1/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise00_1/pom.properties
exercises/exercise16_2/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise16_2/pom.properties
exercises/exercise19.1/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise19.1/pom.properties
exercises/exercise25_1-service/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise25_1-service/pom.properties
exercises/exercise25_2-service/target/m2e-wtp/web-resources/META-INF/maven/cs544/exercise25_2-service/pom.properties
